name: test

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

env:
  STABLE_PYTHON_VERSION: '3.11'
  PYTHONUNBUFFERED: "1"
  FORCE_COLOR: "1"

jobs:
  run:
    name: Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Ensure latest pip
      run: python -m pip install --upgrade pip

    - name: Ensure latest hatch
      run: python -m pip install --upgrade hatch

    - name: Install ourself
      run: pip install -e .

    - name: Style checks
      run: hatch run style:check

    - name: Run tests
      run: hatch run cov
